<fieldset>
	<legend><h1>Class Details</h1></legend>
	<p>
		<%= @sclass.class_name %>
	</p>
    <p>
		<%= @sclass.subject %>
	</p>
    <p>
		<%= @sclass.section %>
	</p>
    
	<%#=  link_to "Edit ", edit_user_path %>
	<br><br>

	<%#= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>

	<%#=  button_to "Destroy", user_path(@user), method: :delete %>
	
	
</fieldset>